# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# Archive outputs
*.zip

# Frontend / JS
node_modules/
dist/
.eslintcache

# IDEs
.idea/
.vscode/
.gemini/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
